# Variáveis de ambiente
.env
.env.local
.env.production
.env.development

# Não incluir o .env.example
!.env.example

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/

# Cache
.npm
.cache/

# Temporários
tmp/
temp/