# fly.toml app configuration file generated for liftlio on 2025-03-05T04:33:31-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'liftlio'
primary_region = 'sjc'

[build]
  [build.args]
    REACT_APP_SUPABASE_URL = "https://suqjifkhmekcdflwowiw.supabase.co"
    REACT_APP_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1cWppZmtobWVrY2RmbHdvd2l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjY1MDkzNDQsImV4cCI6MjA0MjA4NTM0NH0.ajtUy21ib_z5O6jWaAYwZ78_D5Om_cWra5zFq-0X-3I"
    REACT_APP_BROWSER_ORCHESTRATOR_URL = "http://173.249.22.2:8080"
    REACT_APP_BROWSER_MCP_API_KEY = "liftlio-browser-mcp-secret-key-2025"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
